@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.page-footer {
    /*Cor de fundo do menu*/
    background-image: linear-gradient(to right, #8A2BE2 , #000080);
  }

/*Botões redes sociais*/
.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
/*Fim botões redes sociais*/

/*Lista de links*/
.lista {
    margin: 0.3rem;
    border-radius: 1rem;
    background: #ffffff;
    text-align: center;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    border: solid transparent; /* Borda inicial invisível */
}

.lista:hover {
    background: #000080;
    border: solid #ffffff; /* Muda a cor da borda no hover */
}

.lista a {
    color: black; /* Muda a cor da letra para vermelho */
    text-decoration: none; /* Remove o sublinhado */
    display: block; /* Para garantir que a centralização funcione */
    text-align: center; /* Centraliza o texto no link */
    padding: 0.7rem 0.7rem; /* Espaçamento interno para descer o texto */
}

.lista a:hover {
    color: white; /* Muda a cor da letra para branco no hover */
}
/*Fim lista de links*/