body {
    /*Mudar cor do fundo da pagina inteira*/
    background-image: linear-gradient(45deg, #8A2BE2, #000080);
    height: 100vh;
}

.login {
    /*Mudar cor do fundo da div login*/
    background-color: #A9A9A9;

    /*Centralização da div*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*Bordas*/
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}

h1 {
    /*Centralização o título Login*/
    margin-top: 5px;
    margin-bottom: 30px;
}

input {
    /*Faz a formatação dos inputs nome e senha*/
    display: block;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    box-sizing: border-box;
}

.botao {
    /*Faz a formatação do botão enviar*/
    background-color: #8A2BE2;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    margin: 10px auto;
    display: inline-block;
    width: 55%;
}

.botao:hover {
    /*Faz a formatação do botão enviar ao passar o mouse em cima*/
    background-color: #9F5FFF;
    cursor: pointer;
}

.cadastro {
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 10px;
}

.voltar {
    /*width do voltar menor pois é um <a> também centraliza o texto e tira o sublinhado*/
    text-align: center;
    text-decoration: none;
    background-color: #8A2BE2;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    margin: 10px auto;
    display: inline-block;
    width: 25%;
}

.voltar:hover {
    /*Faz a formatação do botão enviar ao passar o mouse em cima*/
    background-color: #9F5FFF;
    cursor: pointer;
}