/*Titulo principal*/
.titulo h1 {
    text-align: center;
    font-size:30px; font-weight:300; color:#27272a; letter-spacing:1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
  }
      
.titulo h1:after,.titulo h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #8A2BE2;
    border-top: 1px solid #8A2BE2;
    height: 5px;
    background-color: #f8f8f8;
}
/*Fim titulo principal*/

/*Titulo do collapsable*/
.collapsible-header {
    display: flex;
    justify-content: space-between;
}
.item {
    flex: 1;
}
/*Fim titulo do collapsable*/

/*Dentro do collapsable*/
.topo {
    text-align: center;
}

.custom-collection {
    max-width: 50rem;
    margin: 0 auto;
}

#items {
    margin-bottom: 1rem;
    border: 1px solid;
}

#info {
    max-width: 22rem;
    margin: 0 auto;
}

.custom-collapsible {
    border-radius: 5rem;
    margin: 0!important;;
    padding: 0!important;
    border: 0!important;
    box-shadow: none!important;
    background: #fff;
}

.vermelho {
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.50);
    #items {
        border-color: red;
    }
}

.verde {
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.50);
    #items {
        border-color: green;
    }
}

.azul {
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.50);
    #items {
        border-color: blue;
    }
}

.amarelo {
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.5);
    #items {
        border-color: yellow;
    }
}  

.custom-collapsible .collapsible-header {
    border-radius: 5rem;
    background-color: #ccc;
}

.custom-collapsible .collapsible-body p {
    text-align: center;
}

.secondary-content {
    color: black;
}

.title {
    font-weight: bolder;
}

.collection .collection-item.avatar .circle {
    top: 35px;
}
/*Fim dentro do collapsable*/

/*Botão*/
.button {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    width: 12rem;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #27272a;
    background-size: 400%;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
    
  .button:hover::before {
    transform: scaleX(1);
  }
    
  .button-content {
    position: relative;
    z-index: 1;
  }
    
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg, #8A2BE2 10.8%, #000080 94.3%);
    transition: all 0.475s;
  }
/*Fim botão*/

/*Radio*/
.radio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
  
.radio label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}
  
.radio  label input {
    position: absolute;
    left: -9999px;
}
  
.radio label input:checked + span {
    background-color: #414181;
    color: white;
}
  
.radio label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
}
  
.radio label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
    color: #414181;
}
  
.radio label span:hover {
    background-color: #d6d6e5;
}
  
.radio label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
}

.radio {
    flex: 1;
    margin: 10px 10px;
    min-height: 200px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
/*Fim radio*/

.card-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.row {
    margin-left: auto !important;
    margin-right: auto !important;
}

.fim {
    margin-top: 2rem;
}

.price {
    position: relative;
    font-size: 22px;
    color: #2B2B2F;
    font-weight: 900;
    text-align: center;
}

.ent {
    display: none;
}

.ent.active {
    display: block;
}

.message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}
  
.signin {
    text-align: center;
    vertical-align: middle;
}
  
.signin a {
    color: royalblue;
}
  
.signin a:hover {
    text-decoration: underline royalblue;
}