.cabecalho {
    /*Coloca o título e o botão um de cada lado da tela*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 20vh;
    padding: 0 17%;
}

.cabecalho .button {
    /*Formatação do botão cadastrar*/
    border-radius: 7px;
    background: #8A2BE2;
    color: white;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #8A2BE2;
    padding: 20px;
    transition: all 0.4s;
    cursor: pointer;
   }

button {
    /*Faz a formatação do botão enviar*/
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 8px;
    cursor: pointer;
}

.card {
    /*Card onde vai aparecer todas as informações do produto*/
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    background-color: #27272a;
    border-radius: 1rem;
}

.card-image {
    /*Borda da imagem acompanhando a borda do card*/
    border-radius: 1rem;
}

.custom-image {
    /*Formatação da imagem para ficar do tamanho do card e todas do mesmo tamanho*/
    border: 2px solid black;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20rem;
}

.card-title {
    color: white;
    overflow: clip;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

.categoria {
    color: white;
    font-size: 0.75rem;
}

.card-content p.product-price {        
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.card-content p.descricao {        
    color: white;
    font-size: 0.75rem;
}

.product-card {
    position: relative;
}

.product-card .card-content {
    padding: 10px;
}

#prod {
    font-weight: bold;
}

.voltar {
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 10px;
}

.total {
    text-align: center;
}

.material-tooltip {
    background-color: #1a237e
}
.material-tooltip .tooltip-content {
    color: white
}