.card {
    /*Card onde vai aparecer todas as informações do produto*/
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    background-color: #27272a;
    border-radius: 1rem;
}

.card-image {
    /*Borda da imagem acompanhando a borda do card*/
    border-radius: 1rem;
}

.custom-image {
    /*Formatação da imagem para ficar do tamanho do card e todas do mesmo tamanho*/
    border: 2px solid black;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20rem;
}

.card-title {
    color: white;
    overflow: clip;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

.categoria {
    color: white;
    font-size: 0.75rem;
}

.card-content p.product-price {        
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

.card-content p.descricao {        
    color: white;
    font-size: 0.75rem;
}

.card-content p.estoque {        
    color: white;
    margin-top: 1rem;
    font-size: 1.0rem;
    text-align: center;
}

.product-card {
    position: relative;
}

.product-card .card-content {
    padding: 10px;
}

#prod {
    font-weight: bold;
}

.voltar {
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 10px;
}

.total {
    text-align: center;
}

.material-tooltip {
    background-color: #000080
}
.material-tooltip .tooltip-content {
    color: white
}
